@{
    ViewData["Title"] = "Book";
}
<!--Category Header-->
<div class="card shadow-sm category-header shadow">
    <div class="card-header">
        <h3 class="card-title fw-bolder fs-1">
            <div class="symbol symbol-35px me-3">
                <div class="symbol-label fs-2 fw-semibold bg-light text-inverse-primary">
                    <span class="svg-icon svg-icon-2x svg-icon-primary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
                        </svg>
                    </span>
                </div>
            </div>
            Books
        </h3>
        <div class="card-toolbar">
            <a class="btn btn-sm btn-light btn-primary fs-4 fw-bolder" asp-action="Create">
                <i class="bi bi-plus-square-dotted"></i>
                Add Book
            </a>
        </div>
    </div>
</div>