html {
    font-size: 14px;
}

.menu-title {
    color: #303030;
    font-size: 14px;
    font-weight: 500;
}

.menu-title:hover {
    opacity: 0.8;
}

.btn-primary {
    font-size: 14px;
}

.table-responsive {
    background-color: #fff;
    border-radius: 12px;
    text-align: center;
    min-height: 480px;
    padding: 5px 2px 0px 25px;
    text-align: start;
    margin-bottom: 15px;
}

.card-footer {
    text-align: center;
}

.input-group-prepend {
    margin: 0px 5px;
    text-align: center;
}

.category-header {
    margin-bottom: 25px;
}
/*Search Bar*/
.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.dropup .dropdown-toggle-table::after {
    display: none;
}

.options-button {
    font-size: 14px;
    width: 3px;
    display: contents;
}

.table-tools-card{
    height: 72px;
}

.export-btn {
    margin: 0px 25px 0px 0px;
}